$primaryColor: #454D3E;
$primaryDarkColor: #fdb813;
$primaryLightColor: #8c9b94;
$accentColor: #ffeb3b;
$accentDarkColor: #4527A0;
$accentLightColor: #f9a825;
$accentTextColor: #212121;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;

@import '../../sass/layout/_layout';